streamlit==1.37.1
langchain==0.3.27
langchain-groq==0.3.6
langchain-community==0.3.27
sqlalchemy==2.0.42
mysql-connector-python==9.4.0
python-dotenv==1.0.1
pysqlite3-binary; platform_system == "Linux"



